* text=auto eol=lf

*.asmdef text eol=lf
*.cs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.meta text eol=lf
*.mjs text eol=lf
*.ps1 text eol=lf
*.toml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
**/codedbignore.example text eol=lf
